body {
    padding-top: 50px; /* добавляет отступ сверху в 50 пикселей */
    padding-bottom: 50px; /* добавляет отступ снизу в 50 пикселей */
}

h1, h2 {
    font-size: 36px; /* устанавливает размер шрифта в 36 пикселей */
    line-height: 1.5; /* устанавливает высоту строки в 1.5 */
}

p {
    font-size: 18px; /* устанавливает размер шрифта в 18 пикселей */
    line-height: 1.5; /* устанавливает высоту строки в 1.5 */
}

img {
    max-width: 1000%; /* устанавливает максимальную ширину изображения в 100% */
    height: auto; /* устанавливает высоту изображения в автоматический режим */
}

